body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
p{
    margin: 0;
}
a:hover{
    text-decoration: none;
}

/* banner-section style starts here  */
.banner{
    background: url(../img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.banner-head{
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        margin-bottom: 3px;
        color: #fff;
        line-height: 1.4;
}
.banner-txt{
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        font-family: "Poppins", sans-serif;
        color: #fff;
        margin-bottom: 15px;
        opacity: 1;
}
.search-input-wrap{
    position: relative;
}
.search-input-wrap input{
    border: none;
    height: 40px;
    padding: 0 10px;
}
.search-input-wrap input:focus{
    border: none;
  
}
.search-input-wrap img{
    width: 18px;
    position: absolute;
    right: 5px;
    top: 12px;
}
.search-section {
    background: #fff;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    border-radius: 40px;
}